@import url('/assets/css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.banner{
    width: 100%;
    height: 605px;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgb(1, 3, 3, 1), rgba(17, 52, 65, 0.86), rgb(4, 5, 5, 0.9)), url('/assets/images/banner.png');; 
}

.logo{
    background-color: rgba(25, 25, 25, 0.2);
    border-radius: 50%;
    margin: auto;
    width: 268px;
    height: 268px; 
}
.logo img{
    width: 248px;
    height: 214px;
    padding: 27px 10px;
}
.banner-content button{
    color: rgba(49, 168, 221, 1);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    font-weight: 900;
    height: 57px;
    width: 326px;
    margin-bottom: 75px;
    background: transparent;
    border: 2px solid;
}
.banner-content h1{
    margin: 20px 0 0 0;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 46.96px;
    background: linear-gradient(rgba(51, 168, 219, 1), rgba(20, 114, 183, 1));
    background-clip: text;
    color: transparent;
    font-weight: 900;
    text-shadow: 1px 1px 5px rgba(20, 115, 183, 0.431);
}
.banner-content p{
    text-align: justify;
    letter-spacing: normal;
    color: white;
    margin: 10px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    width: 510px;
    height: 46px;
}
.banner-content{
    padding: 56px;
    margin: auto;
    text-align: center;
    width: 510px;
    height: 393px;
}
